{% extends "TempoMainBundle::Layout/web.html.twig" %}
{% block bodyClass %}user edit avatar{% endblock %}
{% block breadcrumb %}
    <ol id="breadcrumb" class="clearfix">
        <li class="first"> <a href="{{ path('project_home') }}">Accueil</a> </li>
        <li class="first last"> <a href="{{ path('user_profile_edit') }}">Profile</a> </li>
        <li class="first last"> Avatar </li>
    </ol>
{% endblock breadcrumb %}

{% block content %}
<h1>{{ 'avatar.admin_change'|trans({}, 'TempoUser') }} {{ user.getUsername() }} </h1>

<div class="alert alert-error">
    {{ 'avatar.current_change'|trans({}, 'TempoUser') }}
    <a href="{{ path('user_profile_show', { 'slug' : user.emailCanonical }) }}">{{ user.getUsername() }}</a>.
</div>

{% include "TempoUserBundle:Profile:_tabs.html.twig" %}


<form action="{{ path('user_profile_picture') }}" method="post" class="form-horizontal" enctype="multipart/form-data">
    {{ form_errors(form) }}

    <div class="form-block clearbox">

        <div class="control-group">
            <div class="controls">
                <div class="avatar" style="float: left;">
                    <img src="{{ user.getAvatar() }}" alt="{{ 'avatar.actual_avatar'|trans({}, 'TempoUser') }}" />
                </div>
                <div style="margin-left: 110px">
                    <p>
                        {% if user.hasLocalAvatar() %}
                        <strong>Cet avatar provient de votre ordinateur.</strong>
                        {% elseif user.hasGravatar() %}
                        <strong>{{ 'avatar.current_gravart'|trans({}, 'TempoUser') }} .</strong>
                        {% else %}
                        <em>{{ 'avatar.current_default'|trans({}, 'TempoUser') }}</em>
                        {% endif %}
                    </p>
                    <p>
                        {{ 'avatar.avatar_info'|trans({'%balise%' : '<strong>', '%balise2%' : '</strong>', '%balise3%' : '<br/>'}, 'TempoUser')|raw }}
                    </p>
                </div>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                {{ form_widget(form) }}
            </div>
        </div>
    </div>

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" name="submit" value="{{ 'avatar.submit'|trans({}, 'TempoUser') }}" />
    </div>
</form>

{% endblock %}