{% extends "TempoMainBundle::Layout/web.html.twig" %}
{% block breadcrumb %}
     <ol id="breadcrumb" class="clearfix">
         <li class="first"> <a href="{{ path('project_home') }}">Accueil</a> </li>
         <li class="first last"> <a href="{{ path('user_profile_edit') }}">Profile</a> </li>
         <li class="first last"> Edit profile </li>
     </ol>
{% endblock breadcrumb %}
{% block content %}

<h1 id="page-title" class="col-md-3">Edit profile</h1>
{% include "TempoUserBundle:Profile:_tabs.html.twig" %}


   <form action="{{ path('user_profile_update') }}" {{ form_enctype(form) }} method="POST" class="user_profile_edit">

       <div class="form-block clearbox">
           <fieldset>
                <div class="formtextField">{{ form_row(form.email) }}</div>
           </fieldset>

           <fieldset>
            <div class="formtextField">{{ form_row(form.firstName) }}</div>
            <div class="formtextField">{{ form_row(form.lastName) }}</div>
           </fieldset>

           <fieldset>
            <div class="formtextField">{{ form_row(form.phone) }}</div>
            <div class="formtextField">{{ form_row(form.phoneMobile) }}</div>
           </fieldset>

           <fieldset>
               <div class="formtextField">{{ form_row(form.company) }}</div>
               <div class="formtextField">{{ form_row(form.jobTitle) }}</div>
           </fieldset>
       </div>
       <div class="form-actions">
           {{ form_rest(form) }}
            <input type="submit" class="btn btn-primary" />
        </div>
    </form>


{% endblock %}

{% block right %}
    <h3>Related Settings</h3>
    {% include "TempoUserBundle:Default:_sidebar-right.html.twig" %}
{% endblock %}
