{% extends "TempoMainBundle::Layout/web.html.twig" %}
 {% block breadcrumb %}
     <ol id="breadcrumb" class="clearfix">
         <li class="first"> <a href="{{ path('project_home') }}">Accueil</a> </li>
         <li class="first last"> <a href="{{ path('user_profile_edit') }}">Profile</a> </li>
         <li class="first last"> Edit password </li>
     </ol>
 {% endblock breadcrumb %}
{% block content %}

    <h1 id="page-title" class="col-md-3">Change password</h1>
    {% include "TempoUserBundle:Profile:_tabs.html.twig" %}

    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
        <div class="form-block clearbox">
            {{ form_widget(form) }}
        </div>
        <div class="form-actions">
            <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary" />
        </div>
    </form>
{% endblock content %}