{% extends "TempoMainBundle::Layout/web.html.twig" %}

{% block bodyClass %}user profile password{% endblock %}

{% block body %}

    <div class="head">
        {% block breadcrumb %}
            <ol id="breadcrumb" class="clearfix">
                <li class="first"> <a href="{{ path('project_home') }}">Accueil</a> </li>
                <li > <a href="{{ path('user_profile_edit') }}">Profile</a> </li>
                <li class="last"> Edit password </li>
            </ol>
        {% endblock breadcrumb %}

    </div>
    <div class="container-panel">
        <div class="col-md-3 app-panel tab-nav">
            {% include "TempoUserBundle:Profile:_tabs.html.twig" %}
        </div>

        <div class="col-md-8 app-panel">
            <h1 id="page-title" style="font-size: 22px;">Change password</h1>

            <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST"
                  class="fos_user_change_password">
                <div class="clearbox">
                    {{ form_widget(form) }}
                </div>
                <div class="form-rest">
                    <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}"  class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}