{% extends "TempoMainBundle::Layout/web.html.twig" %}
{% block bodyClass %}user show events{% endblock %}

{% block body %}

    {% block breadcrumb %}
        <ol id="breadcrumb" class="clearfix">
            <li class="first"> <a href="{{ path('project_home') }}">Accueil</a> </li>
            <li> <a href="{{ path('user_profile_edit') }}">Profile</a> </li>
            <li class="last"> {{ profile.username }} </li>
        </ol>
    {% endblock breadcrumb %}

    <div class="container-panel">

        <div class="col-md-3 app-panel">
           <img src="{{ profile.avatar(220) }}" />
            <h1>{{ profile.firstName}}  {{ profile.lastName }} <br />
                <small>{{ profile.username }}</small>
            </h1>

            <hr />

            <div class="card-orgs">
                <h4>Organizations</h4>
                <ul>
                    {% for org in organizations %}
                    <li><img src="{{ org.avatar(36) }}" alt="{{ org.name }}"</li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        <div class="col-md-8 app-panel">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="activity">
                    {{ render(controller('TempoActivityBundle:Activity:list', {'type': 'User'})) }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}