{% trans_default_domain 'TempoProjectBundle' %}
{{ form_errors(form) }}
<div class="form-block clearfix">
    <fieldset class="fieldset-block col-md-6">
        <div class="formtextField">
            {{ form_label(form.organization) }}
            {{ form_errors(form.organization) }}
            {{ form_widget(form.organization, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="formtextField">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="formtextField">
            {{ form_label(form.code) }}
            {{ form_errors(form.code) }}
            {{ form_widget(form.code, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="formtextField">
            {{ form_row(form.beginning, { 'attr': {'class': 'form-control datepicker'} }) }}
        </div>

        <div class="formtextField">
            {{ form_label(form.ending) }}
            {{ form_errors(form.ending) }}
            {{ form_widget(form.ending, { 'attr': {'class': 'form-control datepicker'} }) }}
        </div>
    </fieldset>

    <fieldset class="col-md-6">
        <div class="formtextField">
            {{ form_row(form.active) }}
        </div>
        <div class="formtextField">
            {{ form_row(form.type) }}
        </div>
        <div class="formtextField">
            {{ form_row(form.status) }}
        </div>
        <div class="formtextField">
            {{ form_label(form.budget_estimated) }}
            {{ form_errors(form.budget_estimated) }}
            {{ form_widget(form.budget_estimated, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="formtextField">

            {{ form_label(form.advancement) }}
            {{ form_errors(form.advancement) }}
            {{ form_widget(form.advancement, { 'attr' :  { 'disabled' : 'disabled', 'style': 'display: none' }}) }}

            <div id="slider" class="slider form-control">
                <a class="ui-slider-handle ui-state-default ui-corner-all" href="#">
                    <span id="knob_value">{{ form.advancement.vars.value }}%</span>
                </a>
            </div>

        </div>
    </fieldset>
</div>

<div class="form-block clearfix">

    <div class="formtextField clearfix">
        {{ form_errors(form.description) }}
        {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>
<p class="pull-right">
    {{form_rest(form)}}
</p>
