{% extends "TempoMainBundle::Layout/web.html.twig" %}
{% block bodyClass %}project dashboard{% endblock %}

{% block body %}

    {% block content %}

        {% block breadcrumb %}
            <div class="head clearfix">
                <ol id="breadcrumb" class="clearfix">
                    <li class="first"> <a href="{{ path('homepage') }}">Accueil</a> </li>
                    <li> <a href="{{ path('project_home') }}">Project</a> </li>
                    <li class="first last"> Dashboard </li>
                </ol>

                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('organization_new') }}" class="pull-right btn btn-primary" data-target="#" data-toggle="modal" data-title="{{ 'organization.add' |trans({},'TempoProject') }}" >{{ 'organization.add' |trans({},'TempoProject') }}</a>
                {% endif %}

            </div>
        {% endblock breadcrumb %}

        <div class="list-organizations col-md-6 app-panel">
            <div id="choose-organization" class="clearfix">
                <p class="first"> {{ 'organization.select'|trans({},'TempoProject') }} <span> ↓ </span> </p>

            </div>
            <ul>
                {% for organization in organizations %}

                <li class="clearfix">
                    <a class="avatar" href="{{ path('organization_show', { 'slug' : organization.slug } ) }}">
                        <img alt="marmelab" class="leaderboard-gravatar js-avatar" height="96" src="{{ organization.avatar }}" width="96">
                    </a>
                    <div class="board">
                        <h2 class="name"><a href="{{ path('organization_show', { 'slug' : organization.slug } ) }}">{{ organization.name }}</a></h2>
                    </div>

                </li>

                {% else %}
                       <li> <div class="app-panel">{{ 'organization.not_found_orga'|trans({},'TempoProject') }}.</div></li>
                {% endfor %}
            </ul>
        </div>
        <div class="filters col-md-6 app-panel">

        </div>
    {% endblock %}
{% endblock %}