{% extends "TempoMainBundle::Layout/web.html.twig" %}
{% block bodyClass %}project dashboard{% endblock %}
{% set sidebar = true %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/tempoproject/js/client.js')}}"></script>
{% endblock %}
{% block content %}
    <div id="choose-client">
        <p class="first"> {{ 'organization.select_first'|trans({},'TempoProject') }} <span> ⟶ </span> </p>
        <p class="second"> {{ 'organization.select_second'|trans({},'TempoProject') }} </p>
    </div>
{% endblock %}

{% block right %}
    <div id="clients">
        <div class="head clearfix">
            <h4 >{{ 'organization.list.title'|trans({},'TempoProject') }}</h4>
            <a href="{{ path('client_new') }}" class="float-right btn btn-primary btn-xs" data-target="#" data-toggle="modal" data-title="{{ 'organization.add' |trans({},'TempoProject') }}" >{{ 'organization.add' |trans({},'TempoProject') }}</a>
        </div>
        <ul class="list clear">
            {% for client in clients %}
                <li> <span class="glyphicon glyphicon-forward"></span>
                    <a href="{{ path('client_show', { 'slug' : client.slug } ) }}"> {{ client.name }} </a>
                </li>
            {% else %}
                <p>{{ 'organization.not_found_orga'|trans({},'TempoProject') }}.</p>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
