{% extends "TempoMainBundle::Layout/web.html.twig" %}
{% block bodyClass %}project list{% endblock %}
{% block breadcrumb %}
    <ol id="breadcrumb" class="clearfix">
        <li class="first"> <a href="{{ path('homepage') }}">Accueil</a> </li>
        <li class="first last"> <a href="{{ path('project_home') }}">Project</a> </li>
        <li class="first last"> Project list </li>
    </ol>
{% endblock breadcrumb %}
{% block content %}
<h1>Project list</h1>
 Domaine <select>
     <option> Test</option>
     <option> Test2</option>
     <option> Test3</option>
 </select>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Code</th>
            <th>Nom</th>
            <th>Type</th>
            <th>Status</th>
            <th>Criticité</th>
            <th>Avancement</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Action</th>
        </tr>
    </thead>
        <tbody>
        {% for project in projects %}
         <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
           <td><a href="{{ path('project_show', { 'slug' : project.slug } ) }}">{{ project.id }}</a></td>
           <td><a href="{{ path('project_show', { 'slug' : project.slug } ) }}">{{ project.code }}</a></td>
           <td><a href="{{ path('project_show', { 'slug' : project.slug } ) }}">{{ project.name }}</a></td>
           <td>{{ project.renderType }}</td>
           <td> <span class="label label-success">Ouvert</span> </td>
           <td> 0 </td>
           <td  class="advancement">
               <div class="pourcentage">
                   <div  style="background: #F1F7E2; width: {{ project.advancement }} %;">
                        <span>{{ project.advancement }} %</span>
                   </div>
               </div>
           </td>
           <td>{{project.beginning.format("Y-m-j")}}</td>
           <td>{{project.ending.format("Y-m-j")}}</td>
           <td class="actions">
               <a class="edit icon-edit" href="{{ path('project_edit', { 'slug': project.slug }) }}">Edit</a>
               &nbsp;|&nbsp;
               <a class="edit icon-remove"href="{{ path('project_delete', { 'slug': project.slug }) }}">Delete</a> </td>
        </tr>
        {% endfor %}
        </tbody>
</table>

{% endblock %}
{% block right %}
<ul class="record_actions">
    <li>
        <a class="btn" href="{{ path('project_new', { 'organization' : organization.slug } ) }}">
            {{ 'project.add'|trans([], 'project') }}
        </a>
    </li>
</ul>

{% endblock %}
