{% extends "TempoMainBundle::Layout/web.html.twig" %}
{% block bodyClass %}project new{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('bundles/tempoproject/js/project.js') }}"></script>
{% endblock %}

{% block content %}
<h1 id="page-title">Project creation</h1>
    <form id="project_form" name="project_form" action="{{ path('project_create') }}{% if form.vars.value.parent.id is defined %}?parent={{ form.vars.value.parent.id }}{% endif %}" method="post" {{ form_enctype(form) }}>

        {% include 'TempoProjectBundle::Project/_form.html.twig' with { 'form' : form } %}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Create</button>
            <button type="reset">Reset</button>
        </div>
    </form>
{% endblock %}

{% block right %}
        <ul class="record_actions">
            <li>
                <a href="{{ path('project_home') }}">
                    Back to the list
                </a>
            </li>
        </ul>
{% endblock %}
