{% extends "TempoMainBundle::Layout/web.html.twig" %}
{% block bodyClass %}project show{% endblock %}
{% block breadcrumb %}
    <ol id="breadcrumb" class="clearfix">
        <li class="first"> <a href="{{ path('project_home') }}">Accueil</a> </li>
        <li class="first last"> <a href="{{ path('project_home') }}">{{ 'Project'|trans  }}</a> </li>
        <li class="first last"> {{ project.name }} </li>
    </ol>
{% endblock breadcrumb %}
{% set sidebar = true %}
{% block content %}

    <h1 id="page-title" class="col-md-6">{{ project.name }}</h1>

    <div class="col-md-3">
        {% if is_granted('EDIT', project.organization) %}
        <a class="btn btn-xs btn-primary" href="{{ path('project_new', { 'parent' : project.id, 'organization': project.organization.slug }) }}"> <span class="glyphicon glyphicon-plus"></span> {{ 'project.title_subprojects'|trans([], 'TempoProject') }}</a>
        {% endif %}
        {% if is_granted('EDIT', project) %}
        <a class="btn btn-xs btn-info " href="{{ path('project_edit', { 'slug': project.slug }) }}"> <span class="glyphicon glyphicon-edit"></span> Edit</a>
        {% endif %}
        {% if is_granted('DELETE', project) %}
        <a class="btn btn-xs btn-danger" data-toggle="modal" data-target="#" data-title="Delete project" href="#delete_project"> <span class="glyphicon glyphicon-trash"></span> Delete</a>
        {% endif %}
        {% if is_granted('EDIT', project) %}
        <a class="btn btn-xs btn-primary" href="{{ path('project_provider_list', { 'slug': project.slug }) }}"> <span class="glyphicon glyphicon-cog"></span> {{ 'Source'|trans }} </a>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="project-tab">
                {% for provider in tabProvidersRegistry.providers %}
                <li{% if loop.first %} class="active"{% endif %}><a href="#{{ provider.id }}" data-toggle="tab">{{ provider.name }}</a></li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                {% for provider in tabProvidersRegistry.providers %}
                <div class="tab-pane{% if loop.first %} active{% endif %}" id="{{ provider.id }}">
                    {% include provider.content %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block right %}
<ul class="record_actions">

    <h4>{{ 'organization.team'|trans({},'TempoProject') }} </h4>

    <a data-toggle="modal" data-target="#" data-title="Adding a team member" href="#add_membre" class="float-right btn btn-xs btn-info"> <span class="glyphicon glyphicon-plus"></span> {{ 'project.add_membre'|trans([], 'TempoProject') }}</a>

    <div id="add_membre" style="display: none;">
        {% include 'TempoProjectBundle:Team:new.html.twig' with {'form': teamForm, 'category': project, 'route_category' : 'project_team_add' } %}
    </div>

    <div class="list_membre">
        {% include 'TempoProjectBundle:Team:list.html.twig' with { 'users': project.team } %}
    </div>
</ul>
{% endblock %}
