{% extends "TempoMainBundle::Layout/web.html.twig" %}
{% block bodyClass %}project show{% endblock %}
{% block breadcrumb %}
    <ol id="breadcrumb" class="clearfix">
        <li class="first"> <a href="{{ path('project_home') }}">Accueil</a> </li>
        <li class="first last"> <a href="{{ path('project_home') }}">{{ 'Project'|trans  }}</a> </li>
        <li class="first last"> {{ project.name }} </li>
    </ol>
{% endblock breadcrumb %}
{% set sidebar = true %}
{% block content %}

    <h1 id="page-title" class="col-md-6">{{ project.name }}</h1>

    <div class="col-md-3">
        {% if is_granted('NEW', project) %}
        <a class="btn btn-xs btn-primary" href="{{ path('project_new', { 'parent' : project.id, 'organization': project.organization.slug }) }}"> <span class="glyphicon glyphicon-plus"></span> {{ 'project.title_subprojects'|trans([], 'TempoProject') }}</a>
        {% endif %}
        {% if is_granted('EDIT', project) %}
        <a class="btn btn-xs btn-info " href="{{ path('project_edit', { 'slug': project.slug }) }}"> <span class="glyphicon glyphicon-edit"></span> Edit</a>
        {% endif %}
        {% if is_granted('DELETE', project) %}
        <a class="btn btn-xs btn-danger" data-toggle="modal" data-target="#" data-title="Delete project" href="#delete_project"> <span class="glyphicon glyphicon-trash"></span> Delete</a>
        {% endif %}
        {% if is_granted('EDIT', project) %}
        <a class="btn btn-xs btn-primary" href="{{ path('project_provider_list', { 'slug': project.slug }) }}"> <span class="glyphicon glyphicon-cog"></span> {{ 'Source'|trans }} </a>
        {% endif %}
    </div>

    <div class="col-md-9">
        <ul class="nav nav-tabs" id="project-tab">
            <li class="active"><a href="#project" data-toggle="tab">Project</a></li>
            <li><a href="#sub-project" data-toggle="tab">Sub-Projects</a></li>
            <li><a href="#activity" data-toggle="tab">Activity</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="project">
                <div class="mod-head">
                    <h3>Description </h3>
                </div>
                <div class="mod-content clearfix">

                    <ul class="item-details col-md-6">
                        <li>
                            <dl>
                                <dt>{{ 'project.form.label.code'|trans({}, 'TempoProject') }}:</dt>
                                <dd>{{ project.code }}</dd>
                            </dl>
                            <dl>
                                <dt>{{ 'project.form.label.created'|trans({}, 'TempoProject') }}:</dt>
                                <dd>{{ datetime_diff(project.created) }} </dd>
                            </dl>
                            <dl>
                                <dt>{{ 'project.form.label.updated'|trans({}, 'TempoProject') }}:</dt>
                                <dd>{{ datetime_diff(project.updated) }}</dd>
                            </dl>
                        </li>

                    </ul>
                    <ul class="item-details col-md-6">
                        <li>
                            <dl>
                                <dt>{{ 'project.form.label.organization'|trans({}, 'TempoProject') }}:</dt>
                                <dd>{{ project.organization }}</dd>
                            </dl>
                            <dl>
                                <dt>{{ 'project.form.label.beginning'|trans({}, 'TempoProject') }}:</dt>
                                <dd> {{ datetime_diff(project.beginning, null, false) }} </dd>
                            </dl>
                            <dl>
                                <dt>{{ 'project.form.label.ending'|trans({}, 'TempoProject') }}:</dt>
                                <dd>{{ datetime_diff(project.ending, null, false) }}</dd>
                            </dl>
                        </li>

                    </ul>
                    <div class="description">
                        {{ project.description|raw }}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="sub-project">

                <table class="project-children table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>{{ 'project.form.label.code'|trans({}, 'TempoProject') }}</th>
                            <th>{{ 'project.form.label.name'|trans({}, 'TempoProject') }}</th>
                            <th>{{ 'project.form.label.type'|trans({}, 'TempoProject') }}</th>
                            <th>{{ 'project.form.label.status'|trans({}, 'TempoProject') }}</th>
                            <th>{{ 'project.form.label.priority'|trans({}, 'TempoProject') }}</th>
                            <th>{{ 'project.form.label.advancement'|trans({}, 'TempoProject') }}</th>
                            <th>{{ 'project.form.label.beginning'|trans({}, 'TempoProject') }}</th>
                            <th>{{ 'project.form.label.ending'|trans({}, 'TempoProject') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for children in project.children %}
                        <tr>
                            <td>{{ children.id }}</td>
                            <td>{{ children.code }}</td>
                            <td><a href="{{ path('project_show', { 'slug' : children.slug } ) }}">{{ children.name }}</a> </td>
                            <td>{{ children.renderType }}</td>
                            <td>{{ children.renderStatus }}</td>
                            <td>{{ children.priority }}</td>
                            <td>{{ children.advancement }}</td>
                            <td>{{project.beginning.format("Y-m-j")}}</td>
                            <td>{{project.ending.format("Y-m-j")}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div id="delete_project" style="display: none">
                    {{ 'project.msg_delete'|trans([], 'TempoProject') }}
                </div>
            </div>
            <div class="tab-pane" id="activity">
                {{ render(controller('TempoActivityBundle:Activity:list', {'type': 'all', 'project': project})) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block right %}
<ul class="record_actions">

    <h4>{{ 'organization.team'|trans({},'TempoProject') }} </h4>

    <a data-toggle="modal" data-target="#" data-title="Adding a team member" href="#add_membre" class="float-right btn btn-xs btn-info"> <span class="glyphicon glyphicon-plus"></span> {{ 'project.add_membre'|trans([], 'TempoProject') }}</a>

    <div id="add_membre" style="display: none;">
        {% include 'TempoProjectBundle:Team:new.html.twig' with {'form': teamForm, 'category': project, 'route_category' : 'project_team_add' } %}
    </div>

    <div class="list_membre">
        {% include 'TempoProjectBundle:Team:list.html.twig' with { 'users': project.team } %}
    </div>
</ul>
{% endblock %}
