{% set behavior = behavior() %}
<html lang="{{ app.request.locale }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% stylesheets
        '@TempoMainBundle/Resources/less/style.less'
        filter='less, ?cssrewrite,?yui_css' debug=true
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"  />
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"  />
</head>

<body class="no-js {{ get_browser() }} {% block bodyClass %}{% endblock %}">
    <div id="feedback"> <a href="https://github.com/tempo-project/tempo"></a></div>
    <div id="glob">
        <header id="header" class="navbar navbar-static-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">{{ sylius_settings_get('general.name')  }} </a></a>
                </div>
                <div id="search">
                    <form method="get" action="/search/index/">
                        <label label-default="label-default" for="q"> <a accesskey="4" href="#">{{ 'header.search'|trans({},'TempoMain') }}  </a> :</label>
                        <input  type="text" size="20" name="q" id="q" class="form-control small" accesskey="f" />
                        <button type="submit" class="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </form>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                    {{ knp_menu_render('main') }}
                    <ul id="user-menu" class="nav navbar-nav navbar-right">
                        <li class="avatar">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                <img src=" {{ app.user.avatar(30) }}" alt="Avatar" />
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('user_profile_edit') }}"><span class="glyphicon glyphicon-user"></span> {{ 'Profile'|trans({},'TempoMain') }}</a> </li>
                                <li><a href="{{ path('user_profile_settings') }}"><span class="glyphicon glyphicon-cog"></span> {{ 'Settings'|trans({},'TempoMain') }}</a> </li>
                                <li><a href="{{ path('fos_user_security_logout') }}"> <span class="glyphicon glyphicon-log-out"></span> {{ 'layout.logout'|trans([], 'FOSUserBundle') }} </a> </li>
                                <li role="presentation" class="divider"></li>
                                <li> <a href="/help"><span class="glyphicon glyphicon-question-sign"></span> Help </a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <div id="content">
            <div class="row">
                {% block body %}
                <div id="child-content" class="col-md-{{ sidebar is defined ? '10' : '12' }}">
                    {% block breadcrumb %}
                        {{ knp_menu_render('breadcrumb') }}
                    {% endblock breadcrumb %}
                    {% block content %}  {% endblock %}
                </div>
                {% if sidebar is defined %}
                <div id="sidebar" class="col-md-2">{% block right %} {% endblock %}</div>
                {% endif %}
            </div>
            {% endblock body %}
        </div>

    </div>
    <div class="flash-container" style="display: none;">
        {% block flashes %}
            {% for name, flashes in app.session.flashbag.all if name in ['success', 'notice', 'error', 'fos_user_success'] %}
                {% for flash in flashes %}
                    <div class="flash-{{ name == 'fos_user_success' ? 'success' : name }}">
                        <a class="close" data-dismiss="alert" href="#">×</a>
                        {{ flash|trans }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}
    </div>
    <div id="dialog">
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="confirm btn btn-primary">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    {% block javascripts %}
        {% javascripts
            'vendor/socket.io-client/dist/socket.io.js'
            'vendor/jquery/dist/jquery.js'
            'vendor/jquery-ui/ui/jquery-ui.js'
            'vendor/bootstrap/dist/js/bootstrap.min.js'
            'vendor/tinycon/tinycon.min.js'
            'vendor/moment/moment.js'
            'vendor/modernizr/modernizr.js'
            'vendor/underscore/underscore.js'
            'vendor/blueimp-md5/js/md5.js'
            'vendor/backbone/backbone.js'
            'vendor/marionette/lib/backbone.marionette.js'
            '@TempoMainBundle/Resources/public/js/pimple.js'
            '@BazingaJsTranslationBundle/Resources/js/translator.js'
            '@FOSJsRoutingBundle/Resources/public/js/router.js'
            'vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js'
            'vendor/infiniscroll/lib/infiniScroll.js'
            '@TempoMainBundle/Resources/public/js/routerManager.js'
            '@TempoMainBundle/Resources/public/js/app.js'
            '@TempoMainBundle/Resources/public/js/behavior.js'
            filter="?yui_js"
            output="main.js"
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        {% for javascript in behavior.resource.javascripts %}
            <script type="text/javascript" src="/bundles/tempomain/js/{{ javascript }}"></script>
        {% endfor %}
        {{ behavior.renderHTML|raw }}
    {% endblock %}
</body>

</html>