{% set behavior = behavior() %}
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% stylesheets
        'vendor/bootstrap/dist/css/bootstrap.min.css'
        'bundles/tempomain/css/jquery-ui-1.10.0.custom.css'
        'bundles/tempomain/css/application.css'
        'bundles/tempomain/css/bundles.css'
        filter='css_url_rewrite, ?cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"  />
    {{ sonata_seo_title() }}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"  />
</head>

<body class="no-js {{get_browser()}} {% block bodyClass %}{% endblock %}">
    <!--[if IE 6]>
    <div class="ie6-bar">Vous utilisez Internet Explorer 6 ou une version inférieure. Le support
        de cette version d'Internet Explorer ne sera pas implémenté.
        <br />Nous vous recommandons vivement d'utiliser <a href="http://www.mozilla-europe.org/fr/products/firefox/">Mozilla Firefox</a>,
        <a href="http://www.apple.com/safari/">Apple Safari</a>ou <a href="http://www.microsoft.com/france/windows/downloads/ie/getitnow.mspx">Internet Explorer 9</a>.</div>
    <![endif]-->
    <div id="feedback"> <a href="https://github.com/tempo-project/tempo"></a></div>
    <div id="glob">
        <header id="header">

            <div id="logo">
                <a href="/"> Tempo </a>
            </div>
            <div id="search">
                <form method="get" action="/search/index/">
                    <a id="adv_search" rel="search" accesskey="4" title="Recherche avancée" href="#">avancée</a>
                    <label label-default="label-default" for="q"> <a accesskey="4" href="#">{{ 'header.search'|trans({},'TempoMain') }}  </a> :</label>
                    <input  type="text" size="20" name="q" id="q" class="form-control small" accesskey="f" />
                    <button type="submit" class="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
            </div>
            <nav id="menu">{{ knp_menu_render('menu') }}</nav>
            <div id="member-menu" class="dropdown">
                <ul>
                    <li class="notification dropdown togglable dropdown-notifications">
                        <a href="#"><span class="glyphicon glyphicon-bell"></span></a>
                        <div class="notifications dropdown-menu">
                        </div>
                    </li>
                    <li class="user">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            <img src=" {{ app.user.avatar(30) }}" alt="Avatar" />
                        </a>
                        <ul class="dropdown-menu">
                            <li> <a href="{{ path('user_profile_edit') }}">{{ 'Profile'|trans({},'TempoMain') }}</a> </li>
                            <li> <a href="{{ path('user_profile_setting') }}">{{ 'Settings'|trans({},'TempoMain') }}</a> </li>
                            <li> <a href="{{ path('fos_user_security_logout') }}"> {{ 'layout.logout'|trans([], 'FOSUserBundle') }} </a> </li>
                            <li role="presentation" class="divider"></li>
                            <li> <a href="/help"> Help </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
        <div id="content">
            <div class="row">
                <div id="child-content" class="col-md-{% if sidebar is defined %}8{% else %}10{% endif %}">
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="alert alert-success">
                        <button class="close" data-dismiss="alert">×</button>{{ flashMessage }}</div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="alert alert-error">
                        <button class="close" data-dismiss="alert">×</button>{{ flashMessage }}</div>
                    {% endfor %}
                    {{ knp_menu_render('breadcrumb') }}
                    {% block content %}  {% endblock %}
                </div>
                {% if sidebar is defined %}
                <div id="sidebar-right" class="col-md-2">{% block right %} {% endblock %}</div>
                {% endif %}
            </div>
        </div>

    </div>
    <div id="dialog">
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="confirm btn btn-primary">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    {% block javascripts %}
        {% javascripts
            'vendor/jquery/jquery.js'
            'vendor/jquery-ui/ui/jquery-ui.js'
            'vendor/bootstrap/dist/js/bootstrap.min.js'
            'vendor/tinycon/tinycon.min.js'
            'vendor/moment/moment.js'
            'vendor/modernizr/modernizr.js'
            'bundles/tempomain/js/app.js'
            'bundles/tempomain/js/behavior.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% for javascript in behavior.resource.javascripts %}
            <script type="text/javascript" src="/bundles/tempomain/js/{{ javascript }}"></script>
        {% endfor %}
        {{ behavior.renderHTML|raw }}
    {% endblock %}
</body>

</html>