{% set data = activity.getData('json_decode') %}
<div class="event">
    <time class="momentjs"  datetime="2013-11-14T09:45:16Z" title="2013-11-14 09:45:16">{{ datetime_diff(data.repository.pushed_at) }}</time>
</div>
<div class="action">
    <ul>
        <li class="feed clearfix">
           <div class="message">
               <a href="https://github.com/{{ data.pusher.name }}">{{ data.pusher.name }}</a> pushed to  {{ data.repository.master_branch }} <a href="{{ data.repository.url }}">{{ data.repository.organization }}/{{ data.repository.name  }}</a>
           </div>
           {% if data.pusher.name != 'none' %}
           <div class="details">
               <a href="https://github.com/{{ data.pusher.name }}">
                   <img height="30" src="{{ gravatar(data.pusher.email, 30) }}">
               </a>
           </div>
           {% endif %}
           <ul class="commits">
               {% for commit in data.commits %}
                   <li>
                       <span> <img height="16" src="{{ gravatar(commit.author.email, 16) }}"> </span>
                       <a href="{{ commit.url }}"> {{ truncate(commit.id, 7) }} </a>
                       {{ commit.message }}
                   </li>
               {% endfor %}
           </ul>
        </li>

        <a class="more" href="{{ data.compare }}">View comparison for these {{ data.commits|length }} commits »</a>
    </ul>
</div>