<div class="mod-head">
    <h3>Description </h3>
</div>
<div class="mod-content clearfix">

    <ul class="item-details col-md-6">
        <li>
            <dl>
                <dt>{{ 'project.form.label.code'|trans({}, 'TempoProject') }}:</dt>
                <dd>{{ project.code }}</dd>
            </dl>
            <dl>
                <dt>{{ 'project.form.label.created'|trans({}, 'TempoProject') }}:</dt>
                <dd>{{ datetime_diff(project.created) }} </dd>
            </dl>
            <dl>
                <dt>{{ 'project.form.label.updated'|trans({}, 'TempoProject') }}:</dt>
                <dd>{{ datetime_diff(project.updated) }}</dd>
            </dl>
        </li>
    </ul>
    <ul class="item-details col-md-6">
        <li>
            <dl>
                <dt>{{ 'project.form.label.organization'|trans({}, 'TempoProject') }}:</dt>
                <dd>{{ project.organization }}</dd>
            </dl>
            <dl>
                <dt>{{ 'project.form.label.beginning'|trans({}, 'TempoProject') }}:</dt>
                <dd> {{ datetime_diff(project.beginning, null, false) }} </dd>
            </dl>
            <dl>
                <dt>{{ 'project.form.label.ending'|trans({}, 'TempoProject') }}:</dt>
                <dd>{{ datetime_diff(project.ending, null, false) }}</dd>
            </dl>
        </li>

    </ul>
    <div class="description">
        {{ project.description|raw }}
    </div>
</div>