{% extends "TempoMainBundle::Layout/web.html.twig" %}
{% block bodyClass %}client edit{% endblock %}
{% set sidebar =  false %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/tempoproject/js/client.js')}}"></script>
{% endblock %}


{% block content %}
<h1 id="page-title">Edit client : {{ client.name  }}</h1>

<form action="{{ path('client_update', { 'id': client.id }) }}" method="post" {{ form_enctype(form) }} class="clearfix">
    <div class="form-block">

        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}


        {{ form_label(form.website) }}
        {{ form_errors(form.website) }}
        {{ form_widget(form.website, { 'attr': {'class': 'form-control'} }) }}

        {{ form_label(form.contact) }}
        {{ form_errors(form.contact) }}
        {{ form_widget(form.contact, { 'attr': {'class': 'form-control'} }) }}

    </div>

    <div class="rest">
        <input type="submit" class="submit btn btn-primary" />
    </div>
</form>

{% endblock %}

{% block right %}
    <h4>{{ 'client.team'|trans({},'TempoProject') }} </h4>
    <a data-toggle="modal" data-target="#" data-title="Adding a team member" href="#add_membre" class="float-right btn btn-xs btn-info">Add membre<span></span></a>

<div id="add_membre" style="display: none;">
    {% include 'TempoProjectBundle:Equipe:new.html.twig' with {'form': equipeForm, 'category' : client, 'route_category' : 'client_equipe_add' } %}
</div>


<div class="list_membre">
    {% include 'TempoProjectBundle:Equipe:list.html.twig' with {'users': client.equipe } %}
</div>

{% endblock %}
