{% extends app.request.isXmlHttpRequest ? "TempoMainBundle::Layout/ajax.html.twig" : "TempoMainBundle::Layout/web.html.twig" %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/tempoproject/js/client.js')}}"></script>
{% endblock %}

{% set sidebar =  false %}
{% block content %}
    <form action="{{ path('client_create') }}" method="post" {{ form_enctype(form) }} class="client-add clearfix">

        {{ form_widget(form) }}

        <div class="rest">
            <input type="submit" class="submit btn btn-primary" />
        </div>
    </form>
{% endblock %}
