<div class="clearfix">
    {{ form_row(form.billable) }}
    {{ form_row(form.from) }}
    {{ form_row(form.to) }}
    {{ form_rest(form) }}
</div>

<input class="submit btn btn-primary fantomas" type="submit" value=" {{ 'Export'|trans }}" />
