{% extends "TempoMainBundle::Layout/web.html.twig" %}
{% block bodyClass %}organization edit{% endblock %}
{% set sidebar =  false %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/tempoproject/js/organization.js')}}"></script>
{% endblock %}


{% block content %}
<h1 id="page-title">Edit organization : {{ organization.name  }}</h1>

<form action="{{ path('organization_update', { 'id': organization.id }) }}" method="post" {{ form_enctype(form) }} class="clearfix">
    <div class="form-block">

        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}


        {{ form_label(form.website) }}
        {{ form_errors(form.website) }}
        {{ form_widget(form.website, { 'attr': {'class': 'form-control'} }) }}

        {{ form_label(form.contact) }}
        {{ form_errors(form.contact) }}
        {{ form_widget(form.contact, { 'attr': {'class': 'form-control'} }) }}

    </div>

    <div class="rest">
        <input type="submit" class="submit btn btn-primary" />
    </div>
</form>

{% endblock %}

{% block right %}
    {%  include 'TempoProjectBundle::Organization/_sidebar.html.twig' with { 'teamForm': teamForm, 'organization': organization } %}
{% endblock %}
