<div>
    <ul>
    <li class="active">
        <a href="/profile/edit/profil">
            {{ 'menu.profil'|trans({}, 'TempoProject') }}
        </a>
    </li>
    <li>
        <a href="/profile/edit/avatar">
            {{ 'menu.avatar'|trans({}, 'TempoProject') }}
        </a>
    </li>
    <li>
        <a href="/profile/edit/courriel">
            {{ 'menu.email'|trans({}, 'TempoProject') }}
        </a>
    </li>
    <li>
        <a href="/profile/edit/mot-de-passe">
            {{ 'menu.password'|trans({}, 'TempoProject') }}
        </a>
    </li>
    <li>
        <a href="/profile/edit/preferences">
            {{ 'menu.preferences'|trans({}, 'TempoProject') }}
        </a>
    </li>
    </ul>
</div>